<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Sprint:</b>
  <%=h @task.sprint.name rescue nil %>
</p>

<p>
  <b>Backlog:</b>
  <%=h @task.backlog.name rescue nil %>
</p>

<p>
  <b>Bug:</b>
  <%=h @task.bug.name rescue nil %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
